@using Test_Stuff.Models
@model Test_Stuff.Models.BlogPost

@{
    ViewBag.Title = "BlogIndex";
}

<h2>BlogIndex</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
<p>
        <a href="@Url.Action("Create","Blog")" class="btn btn-primary">Opret nyt indlæg</a>
    </p>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.Admin.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdminId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdminId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Approved)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Approved)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipperName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipperName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostType)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


    @*<p>
        <a href="@Url.Action("Create","Blog")" class="btn btn-primary">Opret nyt indlæg</a>
    </p>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Where(x => x.PostType == BlogPost.PostTypes.BlogPost))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.Admin.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
    </div>
